{
  "Google": [
    "Google",
    "Google Inc.",
    "Alphabet Inc."
  ],
  "Microsoft": [
    "Microsoft",
    "Microsoft Corp.",
    "MSFT"
  ],
  "Amazon": [
    "Amazon",
    "Amazon Inc.",
    "Amazon.com"
  ],
  "Apple": [
    "Apple",
    "Apple Computers",
    "Apple Corp."
  ]
}
